{% extends "base.html" %}
{% block title %}Player{% endblock %}
{% block head %}
{{ super() }}
<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
<script src="/static/buttons.js"></script>
<script src="/static/gstwebrtc-api-2.0.0.min.js"></script>
<script src="/static/webrtc.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{{ moment.include_moment() }}
{% endblock %}
{% block body %}
<div id="stream-control">
    <button id="start_stream_button" onclick="stream('start')">Start stream</button>
    <button id="stop_stream_button" onclick="stream('stop')">Stop stream</button>
    <button id="restart_stream_button" onclick="stream('restart')">Restart stream</button>
    <button id="show_settings_button">Show Settings</button>
</div>
<div id="player" class="player-container">
    <div class="video-player">
        <video id="video"></video>
    </div>
    <div id="remote">
        {% include 'remote.svg' %}
    </div>
</div>
<div class="settings-modal" id="settingsModal">
    <h1>Settings</h1>
    <button id="closeSettingsButton" class="close-button"><i class="fas fa-times"></i></button>
    <form id="settingsForm" method="POST">
        {{ form.hidden_tag() }}
        {% import "bootstrap/wtf.html" as wtf %}
        {{ wtf.quick_form(form) }}
    </form>
</div>
<script src="/static/video.js"></script>
<script>
    const settingsModal = document.getElementById('settingsModal');
    const showSettingsButton = document.getElementById('show_settings_button')
    const closeSettingsButton = document.getElementById('closeSettingsButton');
    const overlay = document.createElement('div'); // Create an overlay element

    showSettingsButton.addEventListener('click', function () {
        settingsModal.style.display = 'block';
        document.body.classList.add('disabled'); // Disable scrolling
        if (!document.querySelector('.overlay')) {
            overlay.classList.add('overlay');
            document.body.appendChild(overlay); // Append the overlay to the body
        }

        // Close settings modal when clicking outside the modal
        overlay.addEventListener('click', function (event) {
            if (event.target === overlay) {
                settingsModal.style.display = 'none';
                document.body.classList.remove('disabled'); // Re-enable scrolling
                overlay.remove(); // Remove the overlay
            }
        });
    });

    closeSettingsButton.addEventListener('click', function () {
        settingsModal.style.display = 'none';
        document.body.classList.remove('disabled'); // Re-enable scrolling
        if (overlay.parentNode === document.body) {
            overlay.remove(); // Remove the overlay
        }
    });
</script>

{% endblock %}