<!DOCTYPE html>
<html lang="en">
<head>
        {% block head %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %} - PlayerApp</title>
        <link rel="stylesheet" href='/static/style.css' />
        {% endblock %}
</head>
    <body>
        <!-- this is the navbar of the application -->
        <nav>
            <ul>
                <li>
                    <h1>
                        <a href="{{ url_for('main.index') }}">PlayerApp</a>
                    </h1>
                </li>
                <li><a href="{{ url_for('main.player') }}">Video Player</a></li>
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
                {% endif %}
            </ul>
        </nav>
        {% block body %}
        {% endblock %}
    </body>
</html>